{
    "$schema": "https://infection.github.io/schema.json",
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "configDir": "."
    },
    "timeout": 10,
    "logs": {
        "text": ".build/infection.log",
        "html": ".build/infection.html",
        "summary": ".build/infection-summary.log"
    },
    "mutators": {
        "@default": true
    },
    "tmpDir": ".build/infection-tmp"
}
